# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file.
root = true

# -----------------
# Source code
# -----------------
# C++
# Python
# CMake
# OpenGL shaders

[*.{cpp,h,py,txt,frag,vert}]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
