sudo: false

language: cpp

os:
  - linux
  - osx

dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - gcc-5
      - g++-5
      - gcc-6
      - g++-6
      - python2.7-dev
      - libqt4-dev

install:
  - if [ -n "$GCC_VERSION" ]; then export CC="${CC}-${GCC_VERSION}"; fi
  - if [ -n "$GCC_VERSION" ]; then export CXX="${CXX}-${GCC_VERSION}"; fi

compiler:
  - clang
  - gcc

matrix:
    include:
        - os: linux
          compiler: gcc
          env: GCC_VERSION=4.8

        - os: linux
          compiler: gcc
          env: GCC_VERSION=5

        - os: linux
          compiler: gcc
          env: GCC_VERSION=6

    allow_failures:
        - os: osx
          compiler: clang

    exclude:
        - os: osx
          compiler: gcc

        - os: linux
          compiler: clang

        - os: linux
          compiler: gcc

    fast_finish: true

script:
  - if [ $TRAVIS_OS_NAME == linux ]; then ./travis/build-linux.sh ; fi
  - if [ $TRAVIS_OS_NAME == osx ]; then ./travis/build-macos.sh ; fi
